/*change introduction image border style*/
.introduction .img-circle {
  animation: changeBorder 6s infinite;
  -webkit-animation: changeBorder 6s infinite;
}

@keyframes changeBorder {
  0% {
    border: 8px #333333 solid;
  }
  50% {
    border: 8px #ffffff solid;
  }
  100% {
    border: 8px #333333 solid;
  }
}

@-webkit-keyframes hangeBorder {
  0% {
    border: 8px #333333 solid;
  }
  50% {
    border: 8px #ffffff solid;
  }
  100% {
    border: 8px #333333 solid;
  }
}

/*contact me button*/
.btn-animation span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-animation span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-animation:hover  span{
  padding-right: 25px;
}

.btn-animation:hover span:after {
  opacity: 1;
  right: 0;
}
