@import "left.css";
@import "right.css";
@import "other.css";

html, body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height:1.5em;
    word-spacing: 0.3em;
}

.container-fluid,
.left-panel,
.right-panel {
    height: 100%;
}

/*left panel and right panel scroll*/
@media (min-width: 768px){
  .left-panel {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }

  .right-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
}

.left-panel {
  background-color: white;
  text-align: center;
  height:100%;
}

.right-panel {
  height:100%;
  background-color: #3d3e42;
}

.progress-bar {
    text-align: center;
}
