.profile {
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.profile .card span {
    margin-left: 3%;
    margin-right: 3%;
}

.cursor {
    color: #8bc7ed;
    background-color: #8bc7ed;
    width: 10px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.contact {
    font-family: 'Josefin Sans', sans-serif;
}

.profile-image {
    max-width: 50%;
    margin-bottom: 10%;
    border: #4c4d52 solid 5px;
}

ul {
    list-style: none;
}

.contact {
    margin-top: 10%;
    color: #4c4d52;
}


@keyframes blink {
    from {background-color: white; color: white};
    to {background-color: #8bc7ed; color:#8bc7ed};
}
