/*border*/
.black-border {
    border: #4c4d52 2px solid;
}

.white-border-bold {
    border: white 4px solid;
}

.red-border {
    border: red 2px solid;
}

.yellow-border {
    border: yellow 2px solid;
}

.green-border {
    border: green 2px solid;
}

.no-border {
    border: 0px;
}

.danger-border {
    border: #ff4444 2px solid;
}

.primary-border {
    border: #4285F4 2px solid;
}

.default-border {
    border: #2BBBAD 2px solid;
}

.unique-border {
    border: #3F729B 4px solid;
}

/*background*/
.black-background{
    background-color: #4c4d52;
}

/*text*/
.white-text {
    color: white;
}

.black-text {
    color : #4c4d52;
}

.blue-text {
    color: #8bc7ed;
}

/*badge*/
.blue-badge {
    background: #8bc7ed;
}
