body {
  margin-top: 20px;
  padding-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /*background-color: #333333;*/
}

/*fonts
====================================*/
.videos-container h1 {
  color: #333333;
  font-size: 5em;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

/*Videos CSS
===================================*/
.thumbnail{
  padding: 0px;
  margin: 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail:hover {
  border: 2px solid #333333;
}

video {
  /*max-height: 380px;*/
}

.video-player {
  padding: 0px;
  max-height: 50%;
}

.caption {
  background-color: #333333;
}

.caption p{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Gloria Hallelujah', cursive;
}
