<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fei Liang</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Josefin+Sans|Shrikhand|Cabin|Montserrat|Roboto|Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="css/index.css">
    <script src="scripts/angular.min.js"></script>

  </head>


  <body ng-app="indexBody" >
      <!-- scripts -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
    <script src="scripts/indexApp.js"></script>
    <script src="scripts/left.js"></script>
    <script src="scripts/right.js"></script>

    <div class="container-fluid">
        <div class="row">

<!-- left panel -->
            <div class="col-md-4 left-panel .align-middle">

                <div class="profile container" ng-controller="profile">
                    <div class="card text-center no-border">
                        <img class="card-img-top rounded-circle img-responsive profile-image mx-auto" src="resources/images/profile.jpg" width="100%">
                        <div class="card-body">
                            <h2 class="card-title" ng-class="textColor">{{ nameToShow }}<span class="cursor" ng-if="typeUnfinished">|</span></h2>
                            <h6 class="text-muted" ng>{{ generateFieldsString() }}</h6>
                            <span ng-repeat="resume in resumes"><a href="{{ resume.url }}" class="badge blue-badge">{{ resume.name }}</a></span>
                        </div>
                    </div>
                </div>

                <div class="contact" ng-controller="contacts">
                    <div class="row container">
                        <div class="col-md-3">
                            <ul>
                                <li ng-repeat="(key, val) in contactInfo"><b>{{ key }}</b></li>
                            </ul>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-7 text-left">
                            <ul>
                                <li ng-repeat="(key, val) in contactInfo">{{ val }}</li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>

<!-- right panel -->
            <div class="col-md-8 right-panel">

                <!-- about me description -->
                <div class="container aboutme" ng-controller="aboutme">
                    <h5>ABOUT ME</h5>
                    <p ng-repeat="x in aboutme">{{ x }}</p>
                </div>

                <!-- projects description -->
                <div class="container projects" ng-controller="projects">

                    <h5>EXPERIENCES</h5>

                    <div class="card-columns black-background">

                        <div class="card black-background white-border-bold" ng-repeat="project in projects">
                            <img class="card-img-top img-responsive mx-auto" ng-src="{{ project.imageAddress }}" alt="">
                            <div class="card-body black-background">
                                <h4 class="card-title">{{ project.title }}</h4>
                                <h5 class="text-muted-my">{{ project.description }}</h5>
                            </div>
                            <ul class="list-group list-group-flush white-background">
                                <li class="list-group-item white-background" ng-repeat=" p in project.projects "><a href="{{ p.url }}">{{ p.name }}</a></li>
                            </ul>
                            <div class="card-body black-background" ng-if=" project.title === 'Software Development' ">
                                <a href="demo.html" class="card-link white-text">DEMO</a>
                            </div>
                        </div>

                    </div>
                </div> <!--projects container div end -->

                <div class="container skills" ng-controller="skills">
                    <h5>SKILLS</h5>

                    <div class="skill" ng-repeat="skill in skills">
                        <h6>{{ skill.skillName }}</h6>
                        <div class="progress">
                            <div class="progress-bar" ng-repeat="s in skill.skills" ng-class="s.color" role="progressbar" style="width: {{s.percents}}%" aria-valuenow="{{s.percents}}" aria-valuemin="0" aria-valuemax="100">{{ s.skill }}</div>
                        </div>
                    </div>

                </div>


            </div> <!-- right-panel div end -->

        </div>

    </div>
</html>
